POSTGRES_USER=app
POSTGRES_PASSWORD=password
POSTGRES_DB=test_db
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
DATABASE_URL=postgres://app:password@localhost:5432/test_db?sslmode=disable
SQLALCHEMY_DATABASE_URI=postgresql://app:password@localhost:5432/test_db?sslmode=disable
SQLALCHEMY_TEST_DATABASE_URI=postgresql://app:password@localhost:5432/test_db_test?sslmode=disable
TEST_DATABASE_URL=postgres://app:password@localhost:5432/test_db_test?sslmode=disable
SECRET_KEY="sdbhsdhsvdgvwgdvywfetfdgshgdvsghdfvghsdvfgsdgfssfkmnf"
API_ID={REPLACE WITH YOUR API_ID}
API_KEY={REPLACE WITH YOUR API_KEY}
XE_BASE_URL=https://xecdapi.xe.com/v1/
